[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Ocean Observatories Owners
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Instrument Approvers
	label-Code-Review = -2..+2 group Ocean Observatories Reviewers
	label-Verified = -1..+1 group Instrument Approvers
	label-Verified = -1..+1 group Ocean Observatories Reviewers
	submit = group Instrument Approvers
	submit = group Ocean Observatories Reviewers
	submit = group Ocean Observatories Submitters
[access "refs/tags/*"]
	push = group Ocean Observatories Owners
	pushTag = group Ocean Observatories Owners
	pushSignedTag = group Ocean Observatories Owners
